<div>
    <div class="main-activity pull-right" ng-show="isLoading() || isSaving()">
        <img src="/assets/images/ajax-loader.gif"/>
    </div>
    <h1>{{title}}</h1>
</div>
<div class="timesheet" ng-repeat="timesheet in timesheets | orderBy: sortableWeekEnding">
    <table class="table">
        <tbody>
        <tr class="header">
            <th>Week Ending</th>
            <th colspan="2">Project</th>
            <th class="text-center">Sun</th>
            <th class="text-center">Mon</th>
            <th class="text-center">Tue</th>
            <th class="text-center">Wed</th>
            <th class="text-center">Thu</th>
            <th class="text-center">Fri</th>
            <th class="text-center">Sat</th>
            <th class="text-center">Total</th>
        </tr>
        <tr class="new-week">
            <td class="week-ending" rowspan="{{timesheet.projects.length + (isEditing(timesheet) ? 3 : 2)}}">
                <div ng-hide="isEditing(timesheet)">
                    <p>{{timesheet.weekEnding}}</p>
                </div>
                <div ng-show="isEditing(timesheet)">
                    <input class="form-control input-sm" type="text" placeholder="MM/DD/YYYY"
                           ng-model="timesheet.weekEnding" ng-datepicker/>
                </div>
                <div ng-show="canEdit(timesheet)">
                    <a class="clickable" ng-click="edit(timesheet)">Edit</a>
                </div>
                <div ng-show="isEditing(timesheet)">
                    <a class="clickable" ng-click="save()">Save</a>
                    <a class="clickable" ng-click="cancel()">Cancel</a>
                    <a class="clickable" ng-really-message="Are you sure you want to delete this timesheet?"
                       ng-really-click="delete()">Delete</a>
                </div>
            </td>
            <td class="project" ng-hide="isEditing(timesheet)" colspan="2">
                <p>{{timesheet.projects[0].name}}</p>
            </td>
            <td class="row-action" ng-show="isEditing(timesheet)">
                <a class="clickable" title="Delete Row" ng-click="deleteProject(timesheet, timesheet.projects[0])"><i
                        class="fa fa-minus-circle"></i></a>
            </td>
            <td class="project" ng-show="isEditing(timesheet)">
                <select class="form-control input-sm" placeholder="projects"
                        ng-options="p.name as p.name for p in projects" ng-model="timesheet.projects[0].name">
                    <option></option>
                </select>
            </td>
            <td class="hours" ng-hide="isEditing(timesheet)" ng-repeat="day in [0,1,2,3,4,5,6]">
                <p>
                    {{timesheet.projects[0].hours[day]}}
                </p>
            </td>
            <td class="hours" ng-show="isEditing(timesheet)" ng-repeat="day in [0,1,2,3,4,5,6]">
                <input class="form-control input-sm" type="number" min="0" ng-model="timesheet.projects[0].hours[day]"/>
            </td>
            <td class="hours">
                <p>
                    {{calcTotalHoursByProject(timesheet.projects[0])}}
                </p>
            </td>
        </tr>
        <tr ng-repeat="project in timesheet.projects.slice(1)">
            <td class="project" ng-hide="isEditing(timesheet)" colspan="2">
                <p>{{project.name}}</p>
            </td>
            <td class="row-action" ng-show="isEditing(timesheet)">
                <a class="clickable" title="Delete Row" ng-click="deleteProject(timesheet, project)"><i
                        class="fa fa-minus-circle"></i></a>
            </td>
            <td class="project" ng-show="isEditing(timesheet)">
                <select class="form-control input-sm" ng-options="p.name as p.name for p in projects"
                        ng-model="project.name">
                    <option></option>
                </select>
            </td>
            <td class="hours" ng-hide="isEditing(timesheet)" ng-repeat="day in [0,1,2,3,4,5,6]">
                <p>
                    {{project.hours[day]}}
                </p>
            </td>
            <td class="hours" ng-show="isEditing(timesheet)" ng-repeat="day in [0,1,2,3,4,5,6]">
                <input class="form-control input-sm" type="number" min="0" ng-model="project.hours[day]"/>
            </td>
            <td class="hours">
                <p>
                    {{calcTotalHoursByProject(project)}}
                </p>
            </td>
        </tr>
        <tr ng-show="isEditing(timesheet)">
            <td class="row-action">
                <a class="clickable" title="Add Row" ng-click="addProject()"><i class="fa fa-plus-circle"></i></a>
            </td>
            <td colspan="9">
            </td>
        </tr>
        <tr>
            <td class="project" colspan="2">
                <p>Total</p>
            </td>
            <td class="hours" ng-repeat="day in [0,1,2,3,4,5,6]">
                <p>
                    {{calcTotalHoursByDay(timesheet, day)}}
                </p>
            </td>
            <td class="hours">
                <p>
                    {{calcTotalHours(timesheet)}}
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <a class="clickable" ng-show="canAdd()" ng-click="add()">Add Week</a>
</div>
